.home
  padding: 40px 0 104px
  &__header
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-bottom: 49px
  &__title
    max-width: 125px
    font-size: 48px
    line-height: 59px
  &__bio
    max-width: 156px
    margin-bottom: 7px
  &__image
    display: block
    width: 100%
    height: auto