.skills
  padding: 91px 0 110px
  &__title
    margin-bottom: 49px
  &__subtitle
    margin-bottom: 83px
    text-align: center
  &__wrapper
    display: flex
    justify-content: space-between
    flex-wrap: wrap